*,button{
font-family: 'Times New Roman', Times, serif;
  
}

table{
    margin-top: 1.6rem;
  margin-bottom: 1.6rem;
  margin-right: 1.6rem;
  margin-left: 1.6rem;

}

h3{
  text-align: center;
}

#select_servicio{
margin-right: 0.5rem;

}

#search_cedula{
  margin-right: 0.5rem;
  
  }
