/*Header*/
/*Menu de 3 rayas*/
#menuD {
    margin:auto;
    width:310px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

ul, ol {
    list-style:none;
}

.menu > li {
    float:left;
}

.menu li a {
    color:white;
    text-decoration:none;
    padding:10px 12px;
    display:block;
}

.menu li a:hover {
    background-color:rgb(151, 145, 145);
}

.menu li ul {
    display:none;
    position:absolute;
    min-width:140px;
}

.menu li:hover > ul {
    display:block;
}

.menu li ul li {
    position:relative;
    background-color: #68086c;
}

.menu li ul li ul {
    right:-140px;
    top:0px;
}
/*fin de Menu de 3 rayas*/
/*Titulo*/
.titulo{
position:relative;
    width: 650px;
    margin-top: 30px;
    text-align: center;
}
/*fin titulo*/

/*menu opciones*/
.menuO{
    margin-top: 30px;
}

.menuO a{
    text-decoration:none;
    color:white;
    font-size: 19px;
}

.menuO li{
   width: 180px;
   text-align: center;
}

/*fin menu opciones*/

/*Perfil*/
.nombreUser{
    margin-left: 40px;
}

.fotoPerfil{
    margin-left: 10px;
}
/*fin perfil*/
/*fin header*/

/*body*/

.tituloBody{
    text-align: center;
}

.row{
    text-align: center;
}

.colu1 h5{
  padding: 20px;
}

.colu2 h5{
   padding: 20px;
}

/*fin body*/

/*footer*/

.pgIMG{
    padding: 60px;
    margin-right: 35%;
}

.pgP{
    color: white;
    text-align: right;
}

.pgP a{
   color: white;
}

/*Pantalla Solicitud*/

/*Body*/

.solicitudBtn{
    text-align: center;
    padding: 20px;
    margin: 20px;
}

.Pbotones{
    background-color:#68086c;
    color: white;
}

/*Fin body*/