<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="description" content="">
	<meta name="author" content="">
	<link rel="icon" href="../resources/img/logo_utp.png">
	<title> Eventos por Reservar </title>

	<!-- Bootstrap core CSS -->
	<link href="../resources/dist/css/bootstrap.min.css" rel="stylesheet">
	
	<!-- Icons -->
	<!-- <link href="../resources/css/font-awesome.css" rel="stylesheet"> -->
	
	<!-- Custom styles for this template -->
	<link href="../resources/css/style.css" rel="stylesheet">
	
</head>
<body>
	<!--Barra de navegacion horizontal -->
    <nav class="navbar navbar-expand-md sticky-top" style="background-color: #68086c;">
            <div class="container-fluid">
                <a class="navbar-brand" href=""><img src="../resources/img/logo_utp.png" width="60px" height="60px"></a>
                <h6 style="color: white">Universidad Tecnologica de Panama<br><small>Sistema de Reservacion de eventos Campus Central Victor Levi Sasso</small></h6>
                    <button class="btn-outline-success navbar-toggler navbar-light " type="button" data-toggle="collapse"
                    data-target="#navbarResponsive">
                            <span class="navbar-toggler-icon"></span>
                    </button>
                <div class="collapse navbar-collapse" id="navbarResponsive">	
                </div>
            </div>
            </nav>
        <!--Barra de navegacion vertical -->
	    <div class="container-fluid" id="wrapper">
            <div class="row">
                <nav class="sidebar col-xs-12 col-sm-4 col-lg-3 col-xl-2">
                    <br>
                    <br>
                    <br>
                    <h1 class="site-title"><em class="fa fa-th-list"></em> Sistema de Reservacion </h1>
                                                        
                    <a href="#menu-toggle" class="btn btn-default" id="menu-toggle"><em class="fa fa-bars"></em></a>
                    <ul class="nav nav-pills flex-column sidebar-nav">
                        <li class="nav-item"><a class="nav-link" href="bandeja_entrada.html"><em class="fa fa-inbox"></em> Bandeja Entrada</a></li>
                        <li class="nav-item"><a class="nav-link" href="calendario.html"><em class="fa fa-calendar-o"></em> Calendario</a></li>
                        <li class="nav-item"><a class="nav-link" href="inventario.html"><em class="fa fa-bar-chart"></em> Inventario</a></li>
                        <li class="nav-item"><a class="nav-link" href="reportes.html"><em class="fa fa-hand-o-up"></em> Reportes</a></li>
                    </ul>
                    <a href="../index.html" class="logout-button"><em class="fa fa-power-off"></em> Cerrar Sesion</a>
                </nav>
                <main class="col-xs-12 col-sm-8 col-lg-9 col-xl-10 pt-3 pl-4 ml-auto">
                    <header class="page-header row justify-center">
                        <div class="col-md-6 col-lg-8" >
                            <h1 class="float-left text-center text-md-left">Inventario
                            </h1>
                        </div>
                        <div class="dropdown user-dropdown col-md-6 col-lg-4 text-center text-md-right">
        
                        </div>
                        <div class="clear"></div>
                    </header>
                <section class="row">
                        <div class="col-12">
                            <div class="card mb-4">
                                <div class="card-block">
                                    <h3 class="card-title">Buscar en Inventario</h3>
                                    <div class="row">
                                        <div class="col-lg">
                                            <div class="input-group">
                                                <input type="text" class="form-control"><span class="input-group-append">
                                                    <button class="btn btn-primary" type="button" data-original-title="" title="">Go</button>
                                            </span></div>
                                            <div class="card mb-4">
                                                <div class="card-block">
                                                        <h5>Inventario de Mobiliario</h5>
                                                    <div class="dropdown card-title-btn-container">
                                                    </div>
                                                    <div class="table-responsive">
                                                        <table class="table table-striped">
                                                            <thead>
                                                                <tr>
                                                                    <th>ID #</th>
                                                                    <th>Descripcion</th>
                                                                    <th>Cantidad</th>
                                                                    <th>Estado</th>
                                                                </tr>
                                                            </thead>
                                                            <tbody>
                                                                <tr>
                                                                    <td>0001</td>
                                                                    <td>Silla Celeste Plastica</td>
                                                                    <td>###</td>
                                                                    <td>Disponibles</td>
                                                                </tr>
                                                                <tr>
                                                                    <td>0002</td>
                                                                    <td>Mesa Rectangular 72x30</td>
                                                                    <td>###</td>
                                                                    <td>Disponibles</td>
                                                                </tr>
                                                                <tr>
                                                                    <td>0003</td>
                                                                    <td>Cafetera 30 Tazas</td>
                                                                    <td>###</td>
                                                                    <td>No Disponibles</td>
                                                                </tr>
                                                                <tr>
                                                                    <td>0004</td>
                                                                    <td>Banderas</td>
                                                                    <td>###</td>
                                                                    <td>Disponibles</td>
                                                                </tr>
                                                                <tr>
                                                                    <td>0005</td>
                                                                    <td>Estandarte de la U.T.P</td>
                                                                    <td>###</td>
                                                                    <td>Disponibles</td>
                                                                </tr>
                                                                <tr>
                                                                    <td>0006</td>
                                                                    <td>Regletas</td>
                                                                    <td>###</td>
                                                                    <td>Disponibles</td>
                                                                </tr>
                                                                <tr>
                                                                    <td>0007</td>
                                                                    <td>Bordones</td>
                                                                    <td>###</td>
                                                                    <td>Disponibles</td>
                                                                </tr>
                                                                <tr>
                                                                    <td>0008</td>
                                                                    <td>Tripodes</td>
                                                                    <td>###</td>
                                                                    <td>No Disponibles</td>
                                                                </tr>
                                                                <tr>
                                                                    <td>0009</td>
                                                                    <td>Mesa Redonda chica 4 puestos</td>
                                                                    <td>###</td>
                                                                    <td>Diponibles</td>
                                                                </tr>
                                                                <tr>
                                                                    <td>0010</td>
                                                                    <td>Porta Estandarte</td>
                                                                    <td>###</td>
                                                                    <td>No Disponibles</td>
                                                                </tr>
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                    <section class="row">
                            <div class="col-12">
                                <div class="card mb-4">
                                    <div class="card-block">
                                        <div class="row">
                                            <div class="col-lg">
                                                <div class="input-group">
                                                    <input type="text" class="form-control"><span class="input-group-append">
                                                        <button class="btn btn-primary" type="button" data-original-title="" title="">Go</button>
                                                </span></div>
                                                <div class="card mb-4">
                                                    <div class="card-block">
                                                            <h5>Servicio de Prensa</h5>
                                                        <div class="dropdown card-title-btn-container">
                                                        </div>
                                                        <div class="table-responsive">
                                                            <table class="table table-striped">
                                                                <thead>
                                                                    <tr>
                                                                        <th>ID #</th>
                                                                        <th>Descripcion</th>
                                                                        <th>Cantidad</th>
                                                                        <th>Estado</th>
                                                                    </tr>
                                                                </thead>
                                                                <tbody>
                                                                    <tr>
                                                                        <td>0001</td>
                                                                        <td>Cobertura Periodistica</td>
                                                                        <td>###</td>
                                                                        <td>Disponibles</td>
                                                                    </tr>
                                                                    <tr>
                                                                        <td>0002</td>
                                                                        <td>Fotografia</td>
                                                                        <td>###</td>
                                                                        <td>Disponibles</td>
                                                                    </tr>
                                                                    <tr>
                                                                        <td>0003</td>
                                                                        <td>Filmacion</td>
                                                                        <td>###</td>
                                                                        <td>No Disponibles</td>
                                                                    </tr>
                                                                    <tr>
                                                                        <td>0004</td>
                                                                        <td>Divulgacion via Web</td>
                                                                        <td>###</td>
                                                                        <td>Disponibles</td>
                                                                    </tr>
                                                                    <tr>
                                                                        <td>0005</td>
                                                                        <td>Equipo de sonido</td>
                                                                        <td>###</td>
                                                                        <td>Disponibles</td>
                                                                    </tr>
                                                                    <tr>
                                                                        <td>0006</td>
                                                                        <td>Entrevista en Medios de Comunicacion</td>
                                                                        <td>###</td>
                                                                        <td>Disponibles</td>
                                                                    </tr>
                                                                    <tr>
                                                                        <td>0007</td>
                                                                        <td>Publicidad en Redes Sociales</td>
                                                                        <td>###</td>
                                                                        <td>Disponibles</td>
                                                                    </tr>
                                                                    <tr>
                                                                        <td>0008</td>
                                                                        <td>Apoyo en Videoconferencias</td>
                                                                        <td>###</td>
                                                                        <td>No Disponibles</td>
                                                                    </tr>
                                                                    <tr>
                                                                        <td>0009</td>
                                                                        <td>Transmision por Streaming</td>
                                                                        <td>###</td>
                                                                        <td>Diponibles</td>
                                                                    </tr>
                                                                </tbody>
                                                            </table>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </section>
                        <a class="btn btn-primary" href="bandeja_entrada.html" role="button">Regresar a Bandeja</a>	
                </main>
		      </div>
	    </div>

	<!-- Bootstrap core JavaScript
	================================================== -->
	<!-- Placed at the end of the document so the pages load faster -->
	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous"></script>
	<script src="dist/js/bootstrap.min.js"></script>
	
	<script src="js/chart.min.js"></script>
	<script src="js/chart-data.js"></script>
	<script src="js/easypiechart.js"></script>
	<script src="js/easypiechart-data.js"></script>
	<script src="js/bootstrap-datepicker.js"></script>
	<script src="js/custom.js"></script>
	
	<script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
	
	</body>
</html>